@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Raleway';
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #EBEBEB;
}

h1{
    display: flex;
    font-size:40px;
    font-weight: 600;
    align-items: center;
}

h1 img{
    width:60px;
}

.formulario{
    width:100%;
    font-size: 28px;

    display: flex;
    flex-direction: column;   
    align-items: center;
}

.formulario input{
    font-size: 28px;
    text-align:center;
    margin:20px;

    border-radius: 40px;
    border:0px;
}

.formulario button{
    width:100px;
    height:50px;
    font-size: 20px;

    border:0px;
    border-radius:10px;
    background-color: #A2A2A2;
    color:white;

    cursor:pointer;
}